In [2]:
'''
A Dataframe is something with rows and columns. It is
similar to a spreadsheet, a database table, or R's data.frame object
'''
import pandas as pd
import numpy as np

In [12]:
from numpy.random import randn
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'],['W', 'X', 'Y', 'Z'])

In [6]:
df #a dataframe is a bunch of series that share the same index

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [7]:
df['W']

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
df.W #can access a column a la SQL; it reco that you use bracket notation

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [11]:
df[['W','Z']]

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [13]:
df['W']['A']

0.30266544858518252

In [21]:
df['AA'] = df['W'] + df['Y']
print(df)

          W         X         Y         Z        AA
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [17]:
df.drop('AA',axis=1) # Not inplace unless specified!

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [22]:
df.drop('AA',axis=1,inplace=True)

In [24]:
df.drop('E')

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [25]:
df.shape #df is tuple!

(5, 4)

In [26]:
df.loc['C'] #rows are also series

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [27]:
df.iloc[2] #numerical based index selection

W    0.807706
X    0.072960
Y    0.638787
Z    0.329646
Name: C, dtype: float64

In [28]:
# Selecting a subset of [rows, columns]
df.loc['B','Y']

0.16690463609281317

In [30]:
df.loc[['B','C'],['X','Z']]

          X         Z
B  0.390528  0.184502
C  0.072960  0.329646

In [31]:
#conditional selection
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [32]:
#display values that are > 0 in the df
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [35]:
df['W'] > 0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [36]:
#filter a subset of rows where condition is true
df[df['W'] > 0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [37]:
df[df['Z'] < 0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119

In [40]:
#select two clmns where condition is true
df[df['W']>0][['Y','Z']]

          Y         Z
A -1.706086 -1.159119
C  0.638787  0.329646

In [44]:
# two or more conditions we can use '|' or '&' with parens
df[(df['W']>0) & (df['X'] > 1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119

In [45]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [46]:
df #does not happen inplace!

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [48]:
newindex = 'CA NY WY OR CO'.split() #quick way to create a list

In [49]:
df['States'] = newindex

In [50]:
df

          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [51]:
df.set_index('States')

               W         X         Y         Z
States
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
#index heirarchy in multi index level df
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [15]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [20]:
df.loc['G1'].iloc[0]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [22]:
df.index.names = ['Groups', 'Num']

In [23]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [28]:
df.loc['G2'].iloc[1]['B']

0.74012205705610679

In [30]:
#cross-section
df.xs(1,level='Num')

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965