In [1]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr, labels) #np arrays work the same way as lists

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(labels) #A series can hold any kind of data object in py

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series([sum, print, len]) #functions!

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
#Series allows for fast look ups like a hash table or dictionary
series1 = pd.Series([1,2,3,4],['USA', 'Germany','USSR', 'Japan'])

In [17]:
series1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [20]:
series2 = pd.Series([1,2,5,4],['USA', 'Germany','Italy', 'Japan'])

In [19]:
series2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [22]:
series1['USA']

1

In [24]:
series3 = pd.Series(labels)

In [25]:
series3

0    a
1    b
2    c
dtype: object

In [26]:
series3[2]

'c'

In [29]:
#operations are matched based off of index, ints will be coverted to floats
series1 + series2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [32]:
series = pd.Series(['Dave', 'Cheng-Han', 'Udacity', 42, -1789710578])
print(series)

0           Dave
1      Cheng-Han
2        Udacity
3             42
4    -1789710578
dtype: object

In [34]:
'''
You can also manually assign indices to the items in the Series when
creating the series
'''
series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                    ['Instructor', 'Curriculum Manager',
                     'Course Number', 'Power Level'])
print(series)

Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
Power Level                9001
dtype: object

In [38]:
#You can use index to select specific items from the Series
series = pd.Series(['Dave', 'Cheng-Han', 359, 9001],
                    ['Instructor', 'Curriculum Manager',
                    'Course Number', 'Power Level'])
print(series['Instructor'])
print("---------")
print(series[['Instructor', 'Curriculum Manager', 'Course Number']])

Dave
---------
Instructor                 Dave
Curriculum Manager    Cheng-Han
Course Number               359
dtype: object

In [40]:
#You can also use boolean operators to select specific items from the Series
cuteness = pd.Series([1, 2, 3, 4, 5],
                     ['Cockroach', 'Fish',
                      'Mini Pig','Puppy', 'Kitten'])
print(cuteness > 3)
print("---------")
print(cuteness[cuteness > 3])

Cockroach    False
Fish         False
Mini Pig     False
Puppy         True
Kitten        True
dtype: bool
---------
Puppy     4
Kitten    5
dtype: int64