In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 3

0.3333333333333333

In [6]:
1 / 2.0

0.5

In [7]:
1 / 2

0.5

In [8]:
2 ** 4

16

In [9]:
2 + 3 * 5 + 5

22

In [10]:
(2 + 3) * (5 + 5)

50

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
var = 2

In [14]:
var

2

In [15]:
x = 2

In [16]:
y = 3

In [17]:
x + y

5

In [18]:
x = x + x

In [19]:
x

4

In [20]:
name_of_var = 12

In [21]:
# Strings

In [22]:
'single quote'

'single quote'

In [23]:
"another string"

'another string'

In [24]:
"I can't go"

"I can't go"

In [25]:
x = "hello"

In [26]:
x

'hello'

In [27]:
print(x)

hello

In [28]:
num = 12
name = "Sam"

In [29]:
print('My number is {} and my name is {}, more {}'.format(num, name, num))

My number is 12 and my name is Sam, more 12

In [30]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is Sam, more 12

In [31]:
s = "hello"

In [32]:
s[0]

'h'

In [33]:
s[4]

'o'

In [34]:
z = "abcdefghijklmn"

In [35]:
z[0:3]

'abc'

In [36]:
z[3:]

'defghijklmn'

In [37]:
z[:6]

'abcdef'

In [38]:
z[3:6]

'def'

In [39]:
[1,2,3]

[1, 2, 3]

In [40]:
["a","b", "c"]

['a', 'b', 'c']

In [41]:
my_list = ["a","b", "c"]

In [42]:
my_list.append("d")

In [43]:
my_list

['a', 'b', 'c', 'd']

In [44]:
my_list[0]

'a'

In [45]:
my_list[1:3]

['b', 'c']

In [46]:
my_list[0] = "NEW"

In [47]:
my_list

['NEW', 'b', 'c', 'd']

In [48]:
nest =  [1,2,[3,4]]

In [49]:
nest

[1, 2, [3, 4]]

In [50]:
nest[2]

[3, 4]

In [51]:
nest[2][1]

4

In [52]:
nest = [1,2,[3,4,["getThis"]]]

In [53]:
nest

[1, 2, [3, 4, ['getThis']]]

In [54]:
print(nest[2][2])

['getThis']

In [55]:
dictionary = {"key":"value","key1":"value1"}

In [56]:
dictionary

{'key': 'value', 'key1': 'value1'}

In [57]:
d = dictionary

In [58]:
d["key"]

'value'

In [59]:
d = {"k1":[1,2,3]}

In [60]:
d["k1"][1]

2

In [61]:
d = {"k": {"nestedKey":[1,2]}}

In [62]:
d["k"]["nestedKey"][0]

1

In [63]:
True

True

In [64]:
False

False

In [65]:
tupple = (1,2,3)

In [66]:
tupple[2]

3

In [67]:
t = tupple

In [68]:
t[0] = 1 #immutable

TypeError: 'tuple' object does not support item assignment

In [69]:
{1,1,1,2,2,2,3,3,3,}

{1, 2, 3}

In [70]:
set({1,1,1,2,2,2,3,3,3})

{1, 2, 3}

In [71]:
s = {1,2,3}

In [72]:
s.add(5)

In [73]:
s

{1, 2, 3, 5}

In [74]:
s.add(5)

In [75]:
s

{1, 2, 3, 5}

In [76]:
1 > 2

False

In [77]:
1 < 2

True

In [78]:
1 >= 2

False

In [79]:
1 == 1

True

In [80]:
1 == 2

False

In [81]:
1 != 3

True

In [82]:
"hi" == "hi"

True

In [83]:
1 < 2 and 2 < 3

True

In [84]:
1 < 1 and 2 > 3

False

In [85]:
1 < 2 or 2 > 3

True

In [86]:
if 1 < 2:
    print("yep!")

yep!

In [87]:
if 1 == 2:
    print("first")
elif 3 == 3:
    print ("second")
else:
    print("last")

second

In [88]:
seq = [1,2,3,4,5]

In [89]:
for  item in seq:
    print(item)

1
2
3
4
5

In [91]:
i = 1
while i <= 5:
    print("i is {}".format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4
i is 5

In [93]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
x = [1,2,3,4]

In [95]:
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [96]:
#list comprehension
[num**2 for num in x]

[1, 4, 9, 16]

In [105]:
def fn(name='default'):
    print("Hello " +  name)

In [104]:
fn("Julian")

Hello Julian

In [108]:
fn()

Hello default

In [112]:
def sq(num):
    """
    This is a docstring
    A multi line comment
    this fn squares a num
    """
    return num**2

In [110]:
o = sq(2)

In [113]:
o

4

In [114]:
def times2(var):
    return var*2

In [117]:
times2(5)

10

In [119]:
#map
seq = [1,2,3,4,5]
mappedSeq = map(times2,seq)

In [121]:
list(mappedSeq)

[2, 4, 6, 8, 10]

In [122]:
#lambda
t = lambda var:var*2

In [123]:
t(5)

10

In [124]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12, 15]

In [125]:
#filter odd numbers
list(filter(lambda num:num%2 !=0, seq))

[1, 3, 5]

In [126]:
#methods
s = "hello my name is Julian"
s.lower()

'hello my name is julian'

In [127]:
s.upper()

'HELLO MY NAME IS JULIAN'

In [128]:
s.split()

['hello', 'my', 'name', 'is', 'Julian']

In [129]:
tweet = "Go Sports! #Sports"

In [130]:
tweet.split("#")[1]

'Sports'

In [132]:
d = {"k1":"v1", "k2":"v2"}

In [133]:
d.keys()

dict_keys(['k1', 'k2'])

In [134]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [135]:
d.values()

dict_values(['v1', 'v2'])

In [136]:
lst = [1,2,3]

In [137]:
lst.pop()

3

In [138]:
poppedItem = lst.pop()
print(poppedItem)

2

In [146]:
lst = [1,2,3,4]

In [147]:
lst.pop(3)

4

In [148]:
#hasA
"x" in [1,2,3,"y"]

False

In [149]:
"x" in ["x","y", "z"]

True

In [150]:
x = [(1,2),(3,4)]

In [152]:
x[1][0]

3

In [153]:
for item in x:
    print(item)

(1, 2)
(3, 4)

In [154]:
for (a,b) in x:
    print(a)

1
3

In [155]:
for a,b in x:
    print(b)

2
4